* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,17,200,1) 45%, rgb(9, 196, 243) 100%);
}

.signup {
    width: 500px;
    background-color: #ffffff;
    box-shadow: -10px -10px 10px rgba(255,255,255, 0.2),
                 15px  15px 15px rgba(0,0,0,0.1);
}

.signup--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 20px;  
}

h1 {
    color: #821dcb;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 15px 15px;
}

.input-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

input {
    border: none;
    border-bottom: 2px solid #e4e4e4;
    transition: 500ms ease all;
    font-size: 18px;
    font-weight: 300;
    padding: 4px 0px;
    width: 100%;
}

input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #821dcb;
    border-color: #821dcb;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
    border-color: none;
}

p {
    font-size: 16px;
    color: #757575;
}

span.terms-condition {
    color: #821dcb;
    cursor: pointer;
    font-weight: 600;
}

.btn {
    justify-content: center;
    text-align: center;
}
button {
    justify-content: center;
    cursor: pointer;
    font-weight: 200;
    padding: 15px 60px;
    font-weight: 300;
    border: none;
    color:#ffffff;
    background-color: rgba(140,17,200);
    font-size: 18px;
    border-radius: 15px;
    transition: 500ms ease all;
}

button:hover {
    background-color: #2f93ed;
    transform: scale(0.98);
}
/*------------------------------ Error border and symbol ------------------------------------*/
.error {
    border: 2px solid red;
}
span.error-symbol {
    visibility:hidden;
    font-size: 25px;
    color: red;
}
.error-symbol-show {
    font-size: 25px;
    color: red;
}
/* ------------------------------ Error text message --------------------------------*/
.error-message {
    visibility:hidden;
    margin-top: -20px;
    margin-bottom: 20px;
}

.error-message-show {
    margin-top: -20px;
    margin-bottom: 20px;
}
/* ------------------------------ Successfully border and symbol --------------------------------*/
.successfully {
    border: 2px solid rgb(2, 255, 14);
}
.successfully-symbol-hide {
    visibility:hidden;
    font-size: 25px;
    color: rgb(2, 255, 14);
}
.successfully-symbol-show {
    font-size: 25px;
    color: rgb(2, 255, 14);
}

.green-letter {
    color: rgb(2, 255, 14);
}

/*---------- Spinner ---------- */
.lds-facebook {
    display: inline-block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 25%;
    right: 25%;
    background-color: rgba(71, 56, 56, 0.808);
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    width: 16px;
    margin-left: 44%;
    margin-top: 250px;
    
    background: red;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

  .spinner-remove {
      display:none;
  }
  .spinner-add {
      display: inline-block;
  }